*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  padding: 20px;
}
ul{
  border-radius: 1px solid gray;
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.center {
  text-align: center;
}
.btn {
padding: 10px;
border: 1px solid blue;
border-radius: 3px;
}

.title{
  width: 100%;
  background-color: rgb(235, 235, 235);
  border-bottom: 1px solid rgb(159, 159, 159);
  padding: 15px;
  text-align: center;
}
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 20px;
}
.card{
  display: flex;
  max-width: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border: 1px solid rgb(81, 81, 81);
  border-radius: 3px;
  padding-bottom: 20px;
}

button{
  background-color: #fff;
}


.blue{
  color: #fff;
  background-color: blue;
}

.column{
  display: flex;
  flex-direction: column;
}
.footer{
  display: flex;
  justify-content: center;
  gap: 80px;
}